sudo: false
language: go
go:
  - 1.9.x
  - 1.10.x
  - 1.11.x
  - 1.12.x
  - 1.13.x
  - master

before_script:
  - go get -u golang.org/x/lint/golint

script:
  - go vet ./...
  - golint ./..
  - go test ./...
